@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, Helvetica Neue, sans-serif;
  background: linear-gradient(#1f1051, rgb(0, 0, 0)); 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}