@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #fffbe9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fffbe9;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.buttonstyle {
  @apply backdrop-blur-sm bg-[#CCA1A0]/20 hover:bg-[#CCA1A0]/30;
  @apply text-amber-50 font-mono;
  @apply shadow-lg shadow-black/50 hover:shadow-[#CCA1A0]/50;
  @apply outline outline-1 outline-white/30 hover:outline-white/50;
  @apply transition-all duration-300 ease-in-out cursor-pointer;
}