@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  font-family: -apple-system, Helvetica Neue, sans-serif;
  color:#EDD7B0;
  background: #CA9B84;
  /*linear-gradient(#c4a0a5)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}